.menu_lateral{
 border-right: 1px solid rgb(47, 48, 55);
 height: 100%;
 padding-top: 0.75rem;
 min-width: 16rem;
}
.item_active{
  background: rgb(27, 28, 32);
  color: rgb(255, 255, 255);
  cursor: default;
}
.item_active, .item_not_activated {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 0.375rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}

@media screen and (max-width: 992px) {
    .menu_lateral {
      display: none;
    }
}